---
import { getLangFromUrl, useTranslations } from "../i18n/ui"
import CodeBlock from "./CodeBlock.astro"

const docsUrl = import.meta.env.PUBLIC_DOCS_URL
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="pb-10">
    <div class="max-w-content mx-auto px-4 pt-20 flex flex-col gap-6 items-center">
        <p class="text-3xl md:text-5xl font-bold text-balance text-center leading-tight">{t('hero.subtitle')}</p>
        <div>
            <a id="get-started" href=`${docsUrl}/guides/quickstart/` class="bg-amber-400 px-4 lg:px-10 py-4 lg:text-xl rounded inline-block text-black">
                {t('get.started')}
            </a>
        </div>
        <div>
            <CodeBlock>
                <span id="install-cmd" class="text-nowrap text-xs md:text-sm">curl -sSf https://manul.build/install.sh | sh</span>
            </CodeBlock>
        </div>
    </div>
</section>

<script is:inline define:vars={{lang}}>
    const isWindows = navigator.userAgent.includes("Windows");
    if (isWindows) {
        const cmdSpan = document.getElementById("install-cmd");
        if (cmdSpan) {
            // Standard PowerShell command to download and execute a script
            cmdSpan.innerText = "iwr https://manul.build/install.ps1 -useb | iex";
        }
        const getStarted = document.getElementById("get-stated")
        if (getStarted) {
            getStarted.href = `/${lang}/blog/quickstart-win`
        }
    }
</script>