---
import { late } from "astro:schema"
import { getLangFromUrl, useTranslations, type Key } from "../i18n/ui"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const themes = [
    {label: "theme.system", theme: 'system'}, 
    {label: "theme.dark", theme: 'dark'}, 
    {label: "theme.light", theme: 'light'}, 
] satisfies Array<{label: Key, theme: string}>
---

<details class="theme-toggle relative">
    <summary class="list-none flex justify-center">
        <svg viewBox="0 0 28 28" fill="none" class="size-10 dark:hidden">
            <circle cx="14" cy="14" r="3.5" stroke="currentColor" />
            <path d="M14 8.5V6.5" stroke="currentColor" stroke-linecap="round" />
            <path d="M17.889 10.1115L19.3032 8.69727" stroke="currentColor" stroke-linecap="round" />
            <path d="M19.5 14L21.5 14" stroke="currentColor" stroke-linecap="round" />
            <path d="M17.889 17.8885L19.3032 19.3027" stroke="currentColor" stroke-linecap="round" />
            <path d="M14 21.5V19.5" stroke="currentColor" stroke-linecap="round" />
            <path d="M8.69663 19.3029L10.1108 17.8887" stroke="currentColor" stroke-linecap="round" />
            <path d="M6.5 14L8.5 14" stroke="currentColor" stroke-linecap="round" />
            <path d="M8.69663 8.69711L10.1108 10.1113" stroke="currentColor" stroke-linecap="round" />
        </svg>
        <svg viewBox="0 0 28 28" fill="none" class="size-10 theme-toggle-moon hidden dark:block">
            <path
            d="M10.5 9.99914C10.5 14.1413 13.8579 17.4991 18 17.4991C19.0332 17.4991 20.0176 17.2902 20.9132 16.9123C19.7761 19.6075 17.109 21.4991 14 21.4991C9.85786 21.4991 6.5 18.1413 6.5 13.9991C6.5 10.8902 8.39167 8.22304 11.0868 7.08594C10.7089 7.98159 10.5 8.96597 10.5 9.99914Z"
            stroke="currentColor"
            stroke-linejoin="round"
            />
            <path
            d="M16.3561 6.50754L16.5 5.5L16.6439 6.50754C16.7068 6.94752 17.0525 7.29321 17.4925 7.35607L18.5 7.5L17.4925 7.64393C17.0525 7.70679 16.7068 8.05248 16.6439 8.49246L16.5 9.5L16.3561 8.49246C16.2932 8.05248 15.9475 7.70679 15.5075 7.64393L14.5 7.5L15.5075 7.35607C15.9475 7.29321 16.2932 6.94752 16.3561 6.50754Z"
            fill="currentColor"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            />
            <path
            d="M20.3561 11.5075L20.5 10.5L20.6439 11.5075C20.7068 11.9475 21.0525 12.2932 21.4925 12.3561L22.5 12.5L21.4925 12.6439C21.0525 12.7068 20.7068 13.0525 20.6439 13.4925L20.5 14.5L20.3561 13.4925C20.2932 13.0525 19.9475 12.7068 19.5075 12.6439L18.5 12.5L19.5075 12.3561C19.9475 12.2932 20.2932 11.9475 20.3561 11.5075Z"
            fill="currentColor"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            />
        </svg>
    </summary>
    <ul class:list={[
        "border bg-neutral-50 border-neutral-100 text-neutral-900 rounded",
        "dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-50",        
        "absolute left-[50%] -translate-x-1/2 top-full translate-y-[calc(-100%-2.5rem)]"
        ]}>
        {
            themes.map(theme => (
                <li data-theme={theme.theme} class="group theme-toggle-option px-2 py-1 text-nowrap cursor-pointer hover:bg-neutral-950/10 dark:hover:bg-neutral-800 flex gap-4 justify-between items-center">
                    <span>{t(theme.label)}</span>
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="size-4 opacity-0 group-[.selected]:opacity-100">
                        <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                </li>
            ))
        }
    </ul>
</details>

<script>
import { fade } from "astro:transitions"

    const doc = document.documentElement
    const toggles = document.querySelectorAll<HTMLDetailsElement>('.theme-toggle')
    document.addEventListener('click', e => {
        toggles.forEach(toggle => {
            if (!toggle.contains(e.target as Node))
                toggle.open = false
        })
    })
    document.addEventListener('keydown', e  => {
        if (e.key === 'Escape') {
            toggles.forEach(toggle => toggle.open = false)
        }
    })
    toggles.forEach(toggle => {
        const options = toggle.querySelectorAll('.theme-toggle-option')
        options.forEach(option => {
            option.addEventListener('click', () => {
                const theme = option.getAttribute('data-theme')!!
                toggle.open = false
                localStorage.setItem('theme', theme)
                if (theme === 'dark' || theme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)
                    doc.classList.add('dark')
                else
                    doc.classList.remove('dark')
                updateSelectedOption(theme)
            })
        })
    })

    function getTheme() {
        return localStorage.getItem('theme') || 'system'
    }

    function updateSelectedOption(activeTheme: string) {
        const options = document.querySelectorAll('.theme-toggle-option')
        options.forEach(option => {
            if (option.getAttribute('data-theme') === activeTheme) 
                option.classList.add('selected')
            else
                option.classList.remove('selected')
        })
    }

    updateSelectedOption(getTheme())

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
        if (getTheme() === 'system') {
            if (e.matches)
                doc.classList.add('dark')
            else
                doc.classList.remove('dark')
        }
    })
</script>